.frame_structures-banner {
    width: 100%;
    background-color: var(--header-navbar-bg-color);
    background-image: url(../../images/banner/dark-grey-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    color: white;

    padding: 45px 0;
}

.frame_structures-banner-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}




.frame_structures-banner h1 {
    /* margin-top: 20px; */
    font-size: 5.5rem;
    line-height: 5rem;
    font-weight: 600;
    letter-spacing: .1rem;
}

.frame_structures-banner ul {
    color: var(--golden-color);
    font-size: 3rem;
    line-height: 5rem;
    font-weight: 500;
    padding: 2rem 0;
    display: flex;
}

.frame_structures-banner ul a{
    cursor: pointer;
}


.frame_structures-banner ul .current::before {
    content: "/";
    padding: 0 10px;
    
}



.frame_structures-banner-btn-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    
}

.frame_structures-banner-btn-wrapper a {
    display: inline-flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    padding: 0 20px;
    background-color: rgba(231, 154, 38, .4);
    border-radius: 5px;
    border: 1px solid rgba(231, 154, 38, .6);

    color: white;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}

.frame_structures-banner-btn-wrapper a:hover {
    border-radius: 5px;
    background-color: var(--golden-color);
}


.frame_structures-main {
    width: 100%;
    background-color: #fff;
}

.frame_structures-main section {
    padding: 30px 0;
}



.frame_structures-main h2 {
    color: black;
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: bold;
    text-align: center;
    margin: 30px 0;
    position: relative;
    z-index: 1;
}


.frame_structures-main h2::before {

    content: "";
    top: 50%;
    left: 0;
    transform: translateX(calc(-100% - 5px));
    height: .25rem;
    width: 55px;
    position: absolute;
    background-color: black;
}

.frame_structures-main h2::after {

    content: "";
    top: 50%;
    right: 0;
    transform: translateX(calc(100% + 5px));
    height: .25rem;
    width: 55px;
    position: absolute;
    background-color: black;
}

.frame_structures-main p {
    font-size: 1.6rem;
    line-height: 2rem;
}


.frame_structures-main-subtitle {
    display: flex;
    justify-content: center;
}


.frame_structures-main .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 80px;
    padding: 20px;
}

.frame_structures-main .box {
    width: 340px;
    height: 300px;
    text-align: center;
    padding: 30px;
    box-shadow: 0px 3px 20px rgba(0, 33, 71, 0.05);
}

.frame_structures-main .box .img-box {
    height: 80px;
}

.frame_structures-main .box .img-box img {
    height: 80px;
}

.frame_structures-main .box h4 {
    color: black;
    font-size: 2.3rem;
    font-weight: 500;
    line-height: 2.8rem;
    text-align: center;
    padding: 20px 0;
}

.frame_structures-main .box p {
    font-size: 1.6rem;
    line-height: 2rem;
    line-height: 2.5rem;
}



.frame_structures-main .box i {
    padding: 15px 0;
    font-size: 50px;
}







/*---------------------------------*/
/*RESPONSIVE DESIGN*/
/*---------------------------------*/

@media only screen and (max-width: 900px) {

    /*------------------------------*/
    /*---- HERO SECTION ------------*/

    .frame_structures-banner {
        padding: 40px;
        display: flex;
        justify-content: flex-end;
    }



    .frame_structures-banner h1 {
        display: inline-flex;
        justify-content: center;
        width: 310px;
        font-size: 4rem;
        line-height: 4rem;
        text-align: center;
    }


    .frame_structures-banner ul {
        font-size: 2rem;
        line-height: 2.5rem;
    }





    .frame_structures-banner-btn-wrapper {
        margin-top: 20px;
        column-gap: 20px;
    }

    .frame_structures-banner-btn-wrapper a {
        height: 45px;
        font-size: 1.4rem;
    }


    /*------------------------------*/
    /*---- MAIN SECTION ------------*/


    .frame_structures-main {
        width: 100%;
        padding: 30px 0;
    }

    .frame_structures-main section {
        padding: 0 0;
    }

    .frame_structures-main h2 {

        font-size: 2.5rem;
        line-height: 3rem;
        padding: 0;
    }

    .frame_structures-main h3 {
        font-size: 2rem;
        line-height: 3.2rem;
        font-weight: 500;
        margin: 40px 0 20px;

    }


    .frame_structures-main h3::before {


        height: .2rem;
        width: 40px;

    }

    .frame_structures-main h3::after {


        height: .2rem;
        width: 40px;

    }

    .frame_structures-main p {
        font-size: 1.4rem;
        line-height: 2rem;
    }


    .frame_structures-main-subtitle {
        display: flex;
        justify-content: center;
    }


    .frame_structures-main .box-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 30px;
        padding: 20px;
    }

    .frame_structures-main .box {
        width: 340px;
        height: 300px;
        text-align: center;
        padding: 30px;
        box-shadow: 0px 3px 20px rgba(0, 33, 71, 0.05);
    }

    .frame_structures-main .box .img-box {
        height: 80px;
    }

    .frame_structures-main .box .img-box img {
        height: 80px;
    }

    .frame_structures-main .box h4 {
        color: black;
        font-size: 2.6rem;
        line-height: 2.8rem;
        text-align: center;
        padding: 20px 0;
    }

    .frame_structures-main .box p{
        line-height: 2.5rem;
    }


    .frame_structures-main .box i {
        padding: 15px 0;
        font-size: 50px;
    }




}