.index-hero {
    width: 100%;
    /*kiszámolom mekkora a magassaga a viewportnak
    ha nem lenne benne maga a navbar*/
    /*60px a magassaga a headernek*/
    /* height: calc(100vh - var(--header-navbar-height) - var(--header-top-height)); */
    /* margin-top: var(--navbar-height); */
    background-color: var(--header-navbar-bg-color);
    background-image: url(../../images/hero_section/hero-bg.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;

    color: white;

    padding: 45px 0;
}

.index-hero-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}




.index-hero h1 {
    margin-top: 20px;
    font-size: 4.5rem;
    line-height: 5rem;
}

.index-hero h2 {
    margin-top: 20px;
    font-size: 4.5rem;
    line-height: 5rem;
}


.index-hero h2:nth-child(3) {
    color: var(--golden-color);
}

.index-hero h3 {
    color: var(--golden-color);
    font-size: 2.2rem;
    line-height: 3.2rem;
    display: inline;
    /* font-weight: bold; */
    position: relative;
    z-index: 1;
    margin: 0 auto;
}


.index-hero h3::before {

    content: "";
    top: 50%;
    left: 0;
    transform: translateX(calc(-100% - 5px));
    height: 2px;
    width: 70px;
    position: absolute;
    background-color: var(--golden-color);
}

.index-hero h3::after {

    content: "";
    top: 50%;
    right: 0;
    transform: translateX(calc(100% + 5px));
    height: 2px;
    width: 70px;
    position: absolute;
    background-color: var(--golden-color);
}


.index-hero p {
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin-top: 30px;
}

.index-hero-btn-wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    column-gap: 40px;
}

.index-hero-btn-wrapper a {
    display: inline-flex;
    height: 50px;
    align-items: center;
    padding: 0 5px;
    background-color: rgba(231, 154, 38, .3);
    border-radius: 5px;
    border: 1px solid rgba(231, 154, 38, .6);

    color: white;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}

.index-hero-btn-wrapper a:hover {
    border-radius: 5px;
    background-color: var(--golden-color);
}


.index-main {
    width: 100%;
    padding: 100px 0;
    background-color: #fff;
}

.index-main section {
    padding: 30px 0;
}

.index-main h2 {
    font-weight: bold;
    color: var(--golden-color);
    font-size: 4.5rem;
    line-height: 5.5rem;
    text-align: center;
    padding-bottom: 20px;
}

.index-main h3 {
    color: black;
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: bold;
    text-align: center;
    margin: 30px 0;
    position: relative;
    z-index: 1;
}


.index-main h3::before {

    content: "";
    top: 50%;
    left: 0;
    transform: translateX(calc(-100% - 5px));
    height: .25rem;
    width: 55px;
    position: absolute;
    background-color: black;
}

.index-main h3::after {

    content: "";
    top: 50%;
    right: 0;
    transform: translateX(calc(100% + 5px));
    height: .25rem;
    width: 55px;
    position: absolute;
    background-color: black;
}

.index-main p {
    font-size: 1.6rem;
    line-height: 2rem;
}


.index-main-subtitle {
    display: flex;
    justify-content: center;
}


.index-main .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 80px;
    padding: 20px;
}

.index-main .box {
    width: 340px;
    height: 300px;
    text-align: center;
    padding: 30px;
    box-shadow: 0px 3px 20px rgba(0, 33, 71, 0.05);
}

.index-main .box .img-box {
    height: 80px;
}

.index-main .box .img-box img {
    height: 80px;
}

.index-main .box h4 {
    color: black;
    font-size: 2rem;
    line-height: 2.8rem;
    text-align: center;
    padding: 20px 0;
}


.index-main .box i {
    padding: 15px 0;
    font-size: 50px;
}







/*---------------------------------*/
/*RESPONSIVE DESIGN*/
/*---------------------------------*/

@media only screen and (max-width: 900px) {

    /*------------------------------*/
    /*---- HERO SECTION ------------*/

    .index-hero {
        padding: 30px;
        display: flex;
        justify-content: flex-end;
    }

   


    .index-hero h3 {
        font-size: 2rem;
        line-height: 3.2rem;
        z-index: 1;
    }

    .index-hero h3::before {
        display: none;
    }

    .index-hero h3::after {
        display: none;
    }

    .index-hero h1 {
        font-size: 2.5rem;
        line-height: 3rem;
    }
    

    .index-hero h2 {
        font-size: 2.5rem;
        line-height: 3rem;
    }


    


    .index-hero p {
        font-size: 1.4rem;
        line-height: 2.0rem;
        margin-top: 30px;
    }

    .index-hero-btn-wrapper {
        margin-top: 20px;
        column-gap: 20px;
    }

    .index-hero-btn-wrapper a {
        height: 45px;
        font-size: 1.4rem;
    }


    /*------------------------------*/
    /*---- MAIN SECTION ------------*/


    .index-main {
        width: 100%;
        padding: 30px 0;
    }
    
    .index-main section {
        padding: 0 0;
    }
    
    .index-main h2 {
        
        font-size: 2.5rem;
        line-height: 3rem;
        padding: 0;
    }
    
    .index-main h3 {
        font-size: 2rem;
        line-height: 3.2rem;
        font-weight:500;
        margin: 40px 0 20px;

    }
    
    
    .index-main h3::before {
    
        
        height: .2rem;
        width: 40px;
        
    }
    
    .index-main h3::after {
    
        
        height: .2rem;
        width: 40px;
        
    }
    
    .index-main p {
        font-size: 1.4rem;
        line-height: 2rem;
    }
    
    
    .index-main-subtitle {
        display: flex;
        justify-content: center;
    }
    
    
    .index-main .box-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 30px;
        padding: 20px;
    }
    
    .index-main .box {
        width: 340px;
        height: 300px;
        text-align: center;
        padding: 30px;
        box-shadow: 0px 3px 20px rgba(0, 33, 71, 0.05);
    }
    
    .index-main .box .img-box {
        height: 80px;
    }
    
    .index-main .box .img-box img {
        height: 80px;
    }
    
    .index-main .box h4 {
        color: black;
        font-size: 2rem;
        line-height: 2.8rem;
        text-align: center;
        padding: 20px 0;
    }
    
    
    .index-main .box i {
        padding: 15px 0;
        font-size: 50px;
    }
    



}
