.square-banner {
    width: 100%;
    background-color: var(--header-navbar-bg-color);
    background-image: url(../../images/banner/dark-grey-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    color: white;

    padding: 45px 0;
}

.square-banner-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}




.square-banner h1 {
    /* margin-top: 20px; */
    font-size: 5.5rem;
    line-height: 5rem;
    font-weight: 600;
    letter-spacing: .1rem;
}

.square-banner ul {
    color: var(--golden-color);
    font-size: 3rem;
    line-height: 5rem;
    font-weight: 500;
    padding: 2rem 0;
    display: flex;
}

.square-banner ul a{
    cursor: pointer;
}


.square-banner ul .current::before {
    content: "/";
    padding: 0 10px;
    
}



.square-banner-btn-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    
}

.square-banner-btn-wrapper a {
    display: inline-flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    padding: 0 20px;
    background-color: rgba(231, 154, 38, .4);
    border-radius: 5px;
    border: 1px solid rgba(231, 154, 38, .6);

    color: white;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}

.square-banner-btn-wrapper a:hover {
    border-radius: 5px;
    background-color: var(--golden-color);
}


.square-main {
    width: 100%;
    background-color: #fff;
}

.square-main section {
    width: 100%;
    padding: 30px 0;
}

.square-main-subtitle{
    display: flex;
    justify-content: center;
}


.square-main h2 {
    color: black;
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: bold;
    text-align: center;
    margin: 30px 0;
    position: relative;
    z-index: 1;
}


.square-main h2::before {

    content: "";
    top: 50%;
    left: 0;
    transform: translateX(calc(-100% - 5px));
    height: .25rem;
    width: 55px;
    position: absolute;
    background-color: black;
}

.square-main h2::after {

    content: "";
    top: 50%;
    right: 0;
    transform: translateX(calc(100% + 5px));
    height: .25rem;
    width: 55px;
    position: absolute;
    background-color: black;
}

.square-main p {
    font-size: 1.6rem;
    line-height: 2rem;
}


.square-main .gallery {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}



.thumbnail-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    justify-content: center;
}

.thumbnail {
    width: 100%;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    transition: all 300ms ease;
}

.thumbnail:hover{
    transform: scale(1.05);
}

.modal{
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: auto;
}

.modal-content{
    position: relative;
    top: 35%;

    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

.close{

    display: grid;
    border-radius: 50%;
    place-content: center;
    width: 40px;
    height: 40px;
    background-color: rgba(127, 0, 0, 0.7);

    position: absolute;
    top: 25%;
    right: 20px;
    color: #f1f1f1;
    font-size: 40px;
    
    cursor: pointer;
    z-index: 1002;
    transition: all 300ms ease;
}

.close:hover{
    color: #bbb;
}






/*---------------------------------*/
/*RESPONSIVE DESIGN*/
/*---------------------------------*/

@media only screen and (max-width: 900px) {

    /*------------------------------*/
    /*---- HERO SECTION ------------*/

    .square-banner {
        padding: 40px;
        display: flex;
        justify-content: flex-end;
    }



    .square-banner h1 {
        display: inline-flex;
        justify-content: center;
        width: 310px;
        font-size: 3.6rem;
        line-height: 4rem;
        text-align: center;
    }


    .square-banner ul {
        font-size: 1.9rem;
        line-height: 2.5rem;
    }





    .square-banner-btn-wrapper {
        margin-top: 20px;
        column-gap: 20px;
    }

    .square-banner-btn-wrapper a {
        height: 45px;
        font-size: 1.4rem;
    }


    /*------------------------------*/
    /*---- MAIN SECTION ------------*/


    .square-main {
        width: 100%;
        padding: 30px 0;
    }

    .square-main section {
        padding: 0 0;
    }

    .square-main h2 {

        font-size: 2.5rem;
        line-height: 3rem;
        padding: 0;
    }

    .square-main h3 {
        font-size: 2rem;
        line-height: 3.2rem;
        font-weight: 500;
        margin: 40px 0 20px;

    }


    .square-main h3::before {


        height: .2rem;
        width: 40px;

    }

    .square-main h3::after {


        height: .2rem;
        width: 40px;

    }

    .square-main p {
        font-size: 1.4rem;
        line-height: 2rem;
    }






}