:root {
    --header-top-height: 50px;
    --header-top-bg-color: #1e1e1e;
    --header-navbar-height: 130px;
    --header-navbar-bg-color: #313131;
    --golden-color: #e79a26;
    --footer-color: #baa989;
}

html {
    font-size: 62.5%;
}

body {

    font-family: "Roboto", sans-serif;
}

.content-wrapper {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
}

.header-top {
    width: 100%;
    font-size: 1.6rem;
    height: var(--header-top-height);
    background-color: var(--header-top-bg-color);
    display: flex;
    justify-content: space-between;

    z-index: 1000;
}

.header-top-left,
.header-top-right {

    /*azt hatarozza meg, hogy a bal es jobb oldal
    kezdetben nulla meretu, a kozottuk levo ter vanegyenloen szetosztva
    majd ugyanolyan mertekben novekednek */
    flex-basis: 0;
    flex-grow: 1;

    display: flex;
    color: white;
    align-items: center;
}

.header-top-left {
    justify-content: flex-start;
    padding-left: 30px;
}

.header-top-right {
    justify-content: flex-end;
    padding-right: 30px;
}

.header-top-left span {
    margin-left: 5px;
}

.header-top-right span {
    margin-left: 5px;
}

.header-top-brand-logo {
    display: flex;
}

.header-top-brand-logo img {
    filter: invert(97%) sepia(24%) saturate(9%) hue-rotate(280deg) brightness(102%) contrast(100%);
}


.navbar {
    width: 100%;
    height: var(--header-navbar-height);
    background-color: var(--header-navbar-bg-color);
    display: flex;
    justify-content: space-between;
    /* position: sticky;
    top: 0; */
    z-index: 1000;
}


.navbar-logo {
    /* width: fit-content;
    height: 100%; */
    padding-left: 30px;
    flex-shrink: 0;
}

.navbar-logo a {
    display: flex;
    height: var(--header-navbar-height);
}

.navbar-logo img {
    height: 100%;
}





.navbar-links-container {
    display: flex;
    margin-left: auto;
}

.navbar-links-list {
    display: flex;
}

.navbar-links-list ul {
    display: flex;
}


.navbar-links-list ul li {
    display: flex;
    align-items: center;
}

.navbar-links-list ul li a {
    display: flex;
    height: 35%;
    align-items: center;
    padding: 0 10px;

    color: white;
    font-size: 1.8rem;
    cursor: pointer;
    transition: all 200ms ease;
}

.navbar-links-list li a:hover {
    border-radius: 5px;
    background-color: var(--golden-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
}



/*-------------------*/

.navbar-sm {
    /* fit-content, 100% - igy kerul kozepre */
    width: fit-content;
    height: 100%;
    /* background-color: red; */
    padding-right: 30px;
    display: flex;
    align-items: center;


}




.navbar-sm a {
    /* background-color: yellow; */
    border-radius: 50%;
    height: 40px;
    width: 40px;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    cursor: pointer;
    font-size: 1.6rem;

    position: relative;
}

.navbar-sm a svg {
    width: 22px;
    height: 22px;
    fill: white;
}

.navbar-sm a:hover {
    /* background-color: var(--accent-color); */
    background-color: var(--golden-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
    /* fill:white; */
}

/*igy direkt valtoztatom az svg szinet*/
.navbar-sm a svg {
    fill: white;
}

/*---------------------------------*/
/* social media tooltip */


.navbar-sm a:before {
    --scale: 0;
    position: absolute;
    top: 200%;
    /*a container meretenek 50%-val tolja el*/
    left: 50%;
    /*sajat meretenek megfelelo 50%-kal tolja el*/
    transform: translateX(-50%) translateY(-100%) scale(var(--scale));
    transform-origin: top center;

    content: attr(data-social);
    color: white;
    padding: 1rem;
    border-radius: .5rem;
    text-align: center;
    /*a ::before merete igazodjon a benne talalhato szoveghez*/
    width: max-content;
    /*viszont a max merete ne haladja meg az ot korulvevo bax meretet*/

    background-color: var(--golden-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
    transition: all 200ms ease-in-out;
}

.navbar-sm a:hover::before {
    --scale: 1;
}


footer {
    width: 100%;
    background-color: var(--header-navbar-bg-color);
    padding-top: 30px;
}

.footer-title-box {
    margin: 0 50px;
    display: flex;
    column-gap: 40px;
    align-items: center;
}

.footer-title-box img {
    width: 130px;
    border-radius: 50%;
}

footer h2 {
    color: var(--footer-color);
    font-size: 3.2rem;
}

footer p {
    font-size: 1.6rem;
    line-height: 2.5rem;
}


.footer-main-content {
    color: white;
    /* padding: 30px 0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
}

.footer-main-content .footer-contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-main-content .box {
    display: flex;
    margin-bottom: 10px;
}

.footer-main-content .icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    margin-right: 15px;
}

.footer-main-content .icon-box i {
    font-size: 2.2rem;
}


.footer-sm {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.footer-sm a {
    font-size: 2.6rem;
    padding: 0 20px;
    cursor: pointer;
}

.footer-sm a i {
    color: white;
}

.footer-sm a i:hover {
    color: var(--footer-color);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);

}


.footer-copyright {

    font-size: 1.6rem;
    padding: 1rem;
    background-color: var(--footer-color);
    display: flex;
    justify-content: center;
    align-items: center;
}



.navbar-mobile-icon {
    display: none;
}

.mobile-nav {
    display: none;
}







/*---------------------------------*/
/*RESPONSIVE DESIGN*/
/*---------------------------------*/

@media only screen and (max-width: 900px) {

    .content-wrapper {
        display: flex;
        width: calc(100% - 20px);
    }

    /*------------------------------*/
    /*---- HEADER - TOP ------------*/
    .header-top {
        width: 100%;
        height: 40px;
        font-size: 1.4rem;
        justify-content: center;

    }

    .header-top-left {
        display: none;
    }

    .header-top-brand-logo {
        display: none;
    }

    .header-top-right {
        justify-content: center;
        padding: 0;

    }

    .header-top-right span {
        margin-left: 5px;
    }

    /*------------------------------*/
    /*---- NAVBAR ------------------*/


    .navbar {
        width: 100%;
        height: 100px;
    }

    .navbar-logo {
        padding-left: 10px;
        flex-shrink: 0;
    }

    .navbar-logo a {
        height: 100%;
    }

    .navbar-links-container {
        display: flex;
        margin-left: auto;
    }

    .navbar-links-list {
        display: none;
    }

    .navbar-sm {
        display: none;
    }


    /*----------------------*/
    /*-----Hamburger--------*/


    .navbar-mobile-icon {
        display: flex;
        align-items: center;
        color: white;
        padding-right: 20px;

    }

    .navbar-mobile-icon .hidden {
        display: none;
    }

    .navbar-mobile-icon .displayed {
        display: block;
    }


    /*--------------------------*/
    /*-----DROPDOWN MENU--------*/

    .mobile-nav {
        font-size: 2rem;
        color: white;
        position: fixed;
        top: 160px;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 100px);
        padding: 20px 0;
        border-radius: 20px;
        border: 2px solid rgba(231, 154, 38, 0.3);
        box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.8);
        
        
        background: rgba(49, 49, 49, 0.4);
        backdrop-filter: blur(15px);
        display: none;
        align-items: center;
        flex-direction: column;
        row-gap: 20px;
        z-index: 999;
        
    }

    .mobile-nav.open{
        display: flex;
    }


    .mobile-nav__menu li {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobile-nav__menu li a{
        cursor: pointer;
    }

    .mobile-nav__sm {
        display: flex;
        gap: 15px;
    }

    .mobile-nav__sm a {
        border-radius: 50%;
        height: 30px;
        width: 30px;
        flex-shrink: 0;
        display: grid;
        place-items: center;
        cursor: pointer;
        font-size: 1.6rem;

        position: relative;
    }

    .mobile-nav__sm a svg {
        width: 22px;
        height: 22px;
        fill: white;
    }

    #overlay{
        position: fixed;
        inset:0;
        background-color: rgba(49, 49, 49, .9);
        z-index: 2;
        display: none;
    }

    .mobile-nav.open ~ #overlay{
        display: block;
    }





    /*-------------------*/

    .navbar-sm {

        padding-right: 20px;
        column-gap: 5px;
    }



    .navbar-sm a {
        height: 30px;
        width: 30px;


    }

    .navbar-sm a:before {
        display: none;
    }

    .navbar-sm a svg {
        width: 20px;
        height: 20px;
    }

    /*------------------------------*/
    /*---- FOOTER ------------------*/



    footer {
        width: 100%;
        background-color: var(--header-navbar-bg-color);
        padding-top: 20px;
    }

    .footer-main-content {
        /* padding: 30px 0; */
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
        margin: 0;
    }

    .footer-title-box {
        margin: 0;
        display: flex;
        flex-direction: column;
        row-gap: 20px;

    }

    .footer-title-box img {
        width: 110px;

    }

    footer h2 {
        font-size: 2.5rem;
        line-height: 3rem;
    }


    footer p {
        font-size: 1.4rem;
        line-height: 2rem;
    }




    .footer-main-content .footer-contacts {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .footer-main-content .box {
        display: flex;
        margin: 0;
    }

    .footer-main-content .icon-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 22px;
        height: 22px;
        margin-right: 15px;
    }

    .footer-main-content .icon-box i {
        font-size: 2.2rem;
    }

    .footer-sm a {
        font-size: 2.4rem;
        padding: 0 20px;
        cursor: pointer;
    }

    .footer-sm a i {
        pointer-events: none;
    }


    .footer-copyright {

        font-size: 1.4rem;
    }


}
